<% if notice.present? %>
  <div class="alert alert-primary"><%= notice %></div>
<% end %>

<h1>商品一覧</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">金額</th>
      <th scope="col">編集処理</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= link_to '編集', edit_admin_product_path(product), class: 'btn btn-primary' %> 
        <%= link_to '削除', admin_product_path(product), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_admin_product_path, class: 'btn btn-primary' %>
